@charset "utf-8";
@import "styles/_mixin.scss";
@import "styles/_variable.scss";

.header__banner {
    position: relative;
    overflow: hidden;
    min-width: 1136px;
    margin: 0 auto;
    padding: 0 392px;
    height: 50px;
    background-color: $color-primary;
    text-align: center;
    box-sizing: content-box;
    &.hide {
      height: 0;
      transition: height 0.3s;
    }
    a {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      p {
        position: relative;
        display: inline-block;
        padding: 0 43px 0 80px;
        line-height: 50px;
        color: $color-white;
        font-size: 16px;
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 73px;
          height: 50px;
          background: url($url-images + 'header/banner_cpn.jpg') no-repeat 0 0/100%;
        }
  
        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 36px;
          height: 50px;
          background: url($url-images + 'header/banner_icon.jpg') no-repeat 0 0/100%;
        }
      }
  
     .header__banner--num {
        display: inline-block;
        width: 15px;
        margin-right: 3px;
        text-align: right;
      }
  
      .close_btn {
        @include position-center-y(absolute);
        right: 30px;
        width: 40px;
        height: 40px;
        transform: translateY(-50%) rotate(-45deg);
  
        &::after, 
        &::before {
          content: '';
          @include position-center(absolute);
          width: 2px;
          height: 24px;
          background-color: $color-white;
        }
        &::before {       
          transform:translate(-50%, -50%) rotate(-90deg);
        }
      }
    }
   
  }