@charset "utf-8";
@import "../Modal.scss";
@import "styles/_mixin.scss";
@import "styles/_variable.scss";

.rank_modal {
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: 280px;
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    .modal-head {
        position: relative;
        height: 56px;
        padding: 0 20px;
        &::after {
            content: '';
            @include position-center-y(absolute);
            right: 20px;
            width: 18px;
            height: 18px;
            background: url($url-images+"rankIcon_arrow.png") 0 0 no-repeat;
        }
        h3 {
          font-size: 18px;
        }    
      }

      .modal-body {
        padding: 0 0 30px;
        .rank_list {
            .rank__item { 
                @include flex(row, start, flex-start, wrap);
                padding: 12px 20px;
                &:hover {
                    background-color: #fcfcfc;
                }
                &:first-of-type {
                    margin-top: 0;
                }
                .rank__num {
                    width: 18px;
                    text-align: center;
                }
                .rank__name {
                    max-width: 145px;
                }
            }
        } 
      }
}