@charset "utf-8";
@import "styles/_mixin.scss";
@import "styles/_variable.scss";


.header {
    &__content {
        width: 100%;
        min-width: 1136px;
        background-color: $color-white;
        @include solid-line-bottom(1px, $color-gray);
        transition: top 0.1s ease 0s;
        box-sizing: border-box;
        
        .header__inner {
            @include flex(row, flex-start, center, wrap);
            width: 1136px;
            height: 100%;
            margin: 0 auto;
        }


        &.fixed {
            z-index: 1001;
            position: fixed;
            top: 0;
            left: 0;

        }

        &.scroll {
            z-index: 1000;
            position: fixed;
            left: 0;
            top: 81px;
            transition: top 0.3s ease 0s;
        }
    }
}