.aside__wrap {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 5px;
    padding-left: 5px;
    .aside {
        &-title {
            margin: 0 0 27px;
            font-size: 20px;
        }
    
        &-list {
            max-width: 160px;
            margin: 15px 0 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #dbdbdb;
        }
    
        &__item {
            position: relative;
            display: flex;
            padding: 0 0 10px 0;
            align-items: center;
            line-height: 23px;
            white-space: nowrap;
            overflow: hidden;
    
            &--name {
                font-size: 13px;
            }
    
            &--arrow {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 13px;
                    height: 13px;
                    background: url(../../assets/images/aside_arrow.png) 0 0 no-repeat;
                    background-size: 13px 13px;
                    transform: translateY(calc(-50% - 5px));
                    transition: all 0.3s;
                }
            }
    
            &:hover {
                opacity: 0.8;
            }
        }
    
        &--depth01 {
            .aside--depth02 {
                overflow: hidden;
                max-height: 0px;
                padding-left: 15px;
                transition: all 0.3s;
                .aside__item {
                    &--name {
                        color: #424242;
                    }
                }
            }
            
            &.on {
                & > .aside__item {
                    .aside__item--name {
                       font-weight: bold;
                       color: #00bbff;
       
                       &:hover {
                           opacity: 0.8;
                       }
                   }
                   .aside__item--arrow {
                    &::after {
                        background: url(../../assets/images/aside_arrow_active.png) 0 0 no-repeat;
                        background-size: 13px 13px;
                        transform: translateY(calc(-50% - 5px)) rotate(180deg);
                    }
                   }
                }
                .aside--depth02 {
                    max-height: 100vh;
                }
            }
        }
    }

}