/* common Modal style  */ 
.modal {
    z-index: 1060;
    position: relative;
    z-index: 99999;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    &-wrap {
      z-index: 99999;
      overflow: hidden;
      position: fixed;
      top: 50%;
      left: 50%;
      border-radius: 16px;
      background: #ffffff;
      box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  
    &-head {
      position: relative;
      display: flex;
      align-items: center;

      h3 {
        font-weight: bold;
        margin-bottom: 0;
      }
  
      &__btn--close {
        position: absolute;
        top: 50%;
        right: 20px;
        width: 28px;
        height: 28px;
        background: url("../../assets/images/modalHeadCloseIcon.svg") no-repeat center;
        transform: translateY(-50%);
      }
    }
    &.on {
        display: block;
    }
  }
  