@charset "utf-8";
@import "styles/_mixin.scss";
@import "styles/_variable.scss";


.container {
  width: 100%;
  min-width: 1136px;
  margin: 40px auto;
  
  &__inner {
    width: 1136px;
    margin: 0 auto;
    @include flex(row, space-between, flex-start, nowrap);
  }
}