.categorie {
    ul {
      display: flex;
    }

    &__item {
      margin-left: 15px;

      a {
        padding: 4px;
        font-size: 18px;
        font-weight: 600;
        color: #2F3438;
        &:hover {
          color: #00bbff;
        }
      }

      &.on {
        a {
          font-weight: bold;
          color: #00bbff;
        }
      }
    }
  }