.option {display: flex; align-items: center; justify-content: center; min-width: 348px; padding: 0 24px;}
.option__button {padding: 10px 16px; border-radius: 22px; font-size: 1rem; color: #6a6a6a;}
.option__button.on {color: #222; font-weight: bold;}
.option__button:hover {background-color: #f7f7f7;}