// color - var
$color-primary: #00bbff;
$color-white: #fff;
$color-xdark: #222;
$color-dark: #2F3438;
$color-xgray: #757575;
$color-gray: #eeeeee;


// fonr weights - var
$font-T:100;
$font-EL:200;
$font-L:300;
$font-R:400;
$font-M:500;
$font-SB:600;
$font-B:700;
$font-EB:800;
$font-BL:900;

// images path
$url-images: "/assets/images/";